/* RESET */

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

/* Wrapper */
.wrapper {
    background-color: darkviolet;
    width: 100%;    
    
    font-family: 'Roboto', sans-serif;
}

/* title */
.title {
    text-align: center;
    color: white;
    text-transform: uppercase; 
    padding: 20px 0;   
}

.title h2 {
    font-weight: 400;
}

/* MAIN */
.ticket-wrapper {
    width: 60%;
    margin: auto;    
    background-color: white;
    border-radius: 10px;
}

.ticket-form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px 0;    
}

.ticket-form .each-form .each-label {
    text-align: center;
    padding: 10px 0;
    color: darkviolet;
}

.ticket-form .each-input select,
.ticket-form .each-input input {
    border-radius: 5px;
    padding: 2px;
    border: 1px solid darkviolet;
}

/* button */
.btn-container {
    text-align: center;
    padding: 20px 0;
    
}

.grey-btn {
    background-color: lightgrey;
    color: darkviolet;
    font-weight: 500;
    padding: 5px 8px;
    margin-left: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
}

/* Your Own Ticket */
#hidden-section {
    padding: 20px 0;
    visibility: hidden;
}

.show-section {
    visibility: visible;
}

.your-own-ticket-inner {
    padding: 25px;
    width: 60%;
    margin: auto;
    background-color: white;
}

.passenger-details {
    content: "";
    display: table;
    clear: both;   
    border-top: 1 px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    margin-top: 30px;
    width: 100%;
    
}

.passenger-data,
.ticket-details {
    float: left;
}

.passenger-data {
    width: 150px;
    height: 100px;
    background: grey;
}

.ticket-details{
    width: calc( 100% - 150px );
    height: 100px;
}

.ticket-data {
    height: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    
}


